In [223]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd
import tweepy
import re
from selenium import webdriver
import time

In [224]:
#Site Navigation
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# NASA Mars News

In [126]:
#assign url to variable
url = "https://mars.nasa.gov/news/"

#pull up the website to pull information
browser.visit(url)

#read the html website
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [87]:
article = soup.find("li", class_='slide')

news_title = article.find("div", class_="content_title").text

news_p = article.find("div", class_ ="article_teaser_body").text


print(news_title)
print(news_p)

The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

# JPL Mars Space Images - Featured Image

In [132]:
#assign url to variable
mars_pic_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

#pull up the website to pull information
browser.visit(mars_pic_url)

#read the html website
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [128]:
image = soup.find("a", class_="button fancybox")["data-fancybox-href"]

featured_image_url = "https://www.jpl.nasa.gov" + image

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18907_ip.jpg

# Mars Weather

In [313]:
#save the mars twitter website in a variable
mars_twitter_url = "https://twitter.com/marswxreport?lang=en"
    
#pull up the website to pull information
browser.visit(mars_twitter_url)
time.sleep(1)

#read the html website
html_twitter = browser.html
soup = BeautifulSoup(html_twitter, "html.parser")

In [328]:
#work through the different sections to find our tweet

main = soup.find("main", attrs = {"role":"main",
                                       "class":"css-1dbjc4n r-16y2uox r-1wbh5a2"})

div = main.find("div", attrs = {"class":"css-1dbjc4n r-14lw9ot r-1tlfku8 r-1ljd8xs r-13l2t4g r-1phboty r-1jgb5lz r-1ye8kvj r-13qz1uu r-184en5c"})

article = div.find("article", attrs = {"role":"article",
                                      "class":"css-1dbjc4n r-1loqt21 r-16y2uox r-1wbh5a2 r-1ny4l3l r-1udh08x r-1j3t67a r-o7ynqc r-6416eg"})

div_2 = article.find("div", attrs = {"dir":"auto",
                                    "class":"css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0"})

mars_weather = div_2.find("span", attrs = {"class":"css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"}).text

print(mars_weather)

InSight sol 537 (2020-05-30) low -92.7ºC (-134.8ºF) high -1.2ºC (29.9ºF)
winds from the WNW at 5.0 m/s (11.1 mph) gusting to 19.5 m/s (43.6 mph)
pressure at 7.20 hPa

# Mars Facts

In [362]:
#place our url in a variable
mars_facts_url = "https://space-facts.com/mars/"

In [363]:
#read the table on the website using pandas
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [364]:
#making sure it is a list
type(tables)

list

In [393]:
df = tables[2]
df.columns = ['0', '1']
df.head(9)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [394]:
#rename the columns and set the index
df = df.rename(columns={"0": "Mars", "1": "Data Record"})

df.head(9)

                   Mars                    Data Record
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [395]:
df = df.set_index('Mars')

df.head(9)

                                        Data Record
Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [383]:
#use to_html to change the df into an html table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Data Record</th>\n    </tr>\n    <tr>\n      <th>Mars</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [384]:
#clean up the lines
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Data Record</th>    </tr>    <tr>      <th>Mars</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [385]:
#save table to a file
df.to_html('table.html')

# Mars Hemispheres

In [387]:
#save the mars twitter website in a variable
mars_hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    
#pull up the website to pull information
browser.visit(mars_hemisphere_url)
time.sleep(1)

#read the html website
html_mars_hemisphere = browser.html
soup = BeautifulSoup(html_mars_hemisphere, "html.parser")

In [388]:
#search through the main div to grab the four images and titles
div = soup.find_all('div', class_ = 'item')

#create empty dictionary
hemisphere_image_urls = []

#create main url, to add the img url to
main_url = 'https://astrogeology.usgs.gov'

In [389]:
#loop through the four hemispheres and store the title and img url

for x in div:
    #find the title
    title = x.find('h3').text
    
    #get the link to the full image
    partial_url = x.find('a', class_ = "itemLink product-item")["href"]
    
    #pull up the website to pull information
    browser.visit(main_url + partial_url)
    
    #read the html website
    partial_url = browser.html
    
    #parse it
    soup = BeautifulSoup(partial_url, "html.parser")
    
    #get the full image link
    img_url = main_url + soup.find('img', class_ = "wide-image")["src"]
    
    #append it to the empty dictionary hemisphere_image_urls
    hemisphere_image_urls.append({'title': title, "img_url": img_url})

In [390]:
#disply the dictionary
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]